@import "modern-normalize.min.css";

/* Layout */
@media screen {
  main {
    width: 60%;
    margin: auto;
  }
}
header {
  display: flex;
}
header > section {
  flex-grow: 1;
}

/* Spacing */
section {
  margin-bottom: 0.8em;
}
h1 {
  margin: 0.4em auto 0.3em auto;
}
table {
  width: 100%
}
table th {
  border-bottom: 0.1em solid gray;
}
th {
  padding-bottom: 0.4em;
}
tr:nth-child(2) > td {
  padding-top: 0.4em;
}
.income td:nth-child(1) {
  width: 70%;
}
.income td:nth-child(2) {
  width: 20%;
}
.income td:nth-child(3) {
  width: 10%;
}
.tax td:nth-child(1) {
  width: 40%;
}
.tax td:nth-child(2) {
  width: 20%;
}
.tax td:nth-child(3) {
  width: 10%;
}
.tax td:nth-child(4) {
  width: 20%;
}
.tax td:nth-child(5) {
  width: 10%;
}

/* Alignment */
.income td:nth-child(2),
.income td:nth-child(3) {
  text-align: right;
}
.tax td:nth-child(2),
.tax td:nth-child(3),
.tax td:nth-child(4),
.tax td:nth-child(5) {
  text-align: right;
}

/* Font */
@font-face {
  font-family: NotoSansDisplay;
  src: url("NotoSansDisplay-VariableFont_wdth,wght.ttf") format("ttf");
}
body {
  font-family: NotoSansDisplay, sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.30em;
}
h1 {
  font-size: 1.3em;
  font-weight: 700;
}
.title {
  font-size: 1.3em;
  font-weight: 400;
}
.subtitle {
  font-style: italic;
  color: gray;
}
.fact-name {
  font-weight: 400;
  color: gray;
}
.fact-value {
  font-weight: 400;
}
td.total {
  font-weight: 600;
}
.income td:nth-child(3),
.tax td:nth-child(3),
.tax td:nth-child(5) {
  font-style: italic;
}
#devengos .total.importe {
  color: dodgerblue;
}
#deducciones .total.importe {
  color: crimson;
}
#liquido .total.importe {
  color: forestgreen;
}
#aportacion .total.importe {
  color: orangered;
}
